.about {
    max-width: 990px;
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
}

.about-info{
    width: 425px;
    padding: 0 50px 0px 20px;
}

.hi{
    font-size: 34px;
    color: var(--warn-color) !important;
}

.about-info p{
    text-align: left;
    color: var(--accent-color);
}

ul {
    color: var(--warn-color);
    padding-left: 18px;
    list-style-type: disclosure-closed;
    align-items: left;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

ul li{
    margin: 0 0 5px 10px;

}

.about-picture{
    width: 330px;
    height: 330px;
    border: 3.5px solid var(--warn-color);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 70px 45px 0 60px;
    
}


.about-picture img{
    cursor: pointer;
    filter: grayscale(80%);
    object-fit: contain;
    width: 400px;
    height: 300px;
    transition: 0.6s;
    margin-left: 16px;

}


.about-picture img:hover{
    filter: grayscale(10%);
    transform: scale(1.1);
}

@media (max-width: 992px)  {
    .about{
        min-height: 100vh;
        flex-direction: column;
        align-items: center;
    }

    .about-info{
        width: 90%;
        padding-right: 20px;
    }

    .about-picture{
        margin: 70px 0 0 0;
        padding: 0;
    }

}