<div class="about container" id="about">
    <div class="about-info">
        <p class="hi mat-body-2">
            {{ 'about.paragraph_1' | translate }}
        </p>
        <p>
            {{ 'about.paragraph_2' | translate }}
            <span class="mat-body-2">Gonzalo Medina</span>
        </p>
            
        <p class="mat-body-1">
            {{ 'about.paragraph_3' | translate }}
        </p>
        <p class="mat-body-1">
            {{ 'about.paragraph_4' | translate }}
        </p>
        <ul class="mat-caption">
            <li>Angular</li>
            <li>TypeScript</li>
            <li>HTML, CSS</li>
            <li>JavaScript</li>
            <li>Python</li>
        </ul>
        <p class="mat-body-1">
            {{ 'about.paragraph_5' | translate }}
        </p>
    </div>
    <div class="about-picture">
        <img src="../../../../assets/images/about_img.jpg" alt="about-picture">
    </div>
    
</div>
