.about {
    max-width: 990px;
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
}

.about-info{
    width: 425px;
    padding: 0 50px 0px 20px;
}

.hi{
    font-size: 34px;
    color: var(--warn-color) !important;
    text-shadow: 0px 1px 8px var(--warn-color) !important;
}

.about-info p{
    color: var(--accent-color);
    text-shadow: 0px 0px 2px var(--accent-color);
    text-align: left;
}

ul {
    color: var(--warn-color);
    padding-left: 18px;
    list-style-type: disclosure-closed;
    align-items: left;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

ul li{
    margin: 0 0 5px 10px;

}

.about-picture{
    width: 330px;
    height: 330px;
    border: 3.5px solid var(--warn-color);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 70px 45px 0 60px;
    
}


.about-gif{
    cursor: pointer;
    filter: grayscale(80%);
    object-fit: contain;
    width: 400px;
    height: 300px;
    transition: 0.6s;
    margin-left: 22px;

}


.about-gif:hover{
    filter: grayscale(10%);
    transform: scale(1.05);
}

.about-bulb{
    position: absolute;
    width: 220px;
    height: 220px;
    top: -80px;
    right: -66px;
    transform: rotate(25deg);
    animation: bulb-cycle 2.5s infinite;
    
}

@keyframes bulb-cycle{
    0% {opacity: 1;}
    50% {opacity: 0;}
    60% {opacity: 1; filter: brightness(80%);}
    70% {opacity: 1; filter: brightness(180%);}
    80% {opacity: 1; filter: brightness(80%);}
    90% {opacity: 0;}
    100% {opacity: 0;}
}

@media (max-width: 992px)  {
    .about{
        min-height: 100vh;
        flex-direction: column;
        align-items: center;
    }

    .about-info{
        width: 90%;
        padding-right: 20px;
    }

    .about-picture{
        margin: 70px 0 0 0;
        padding: 0;
    }

}