<div class="footer container" id="contact">
    <h1 class="title-section">{{ 'footer.title' | translate }}</h1>
    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="10px" fxFlexFill>
        <app-contact></app-contact>
        <div class="localization" fxFlex="50%">
            <img src="../../../assets/images/map_localization.png" alt="map-localization">
        </div>
    </div>
    <div class="line"></div>
    <div class="footer-end">
        <div class="social-networks">
            <button mat-mini-fab color="primary" aria-label="github">
                <a href="https://github.com/gonzalomedina23lj" target="_target" aria-label="github">
                    <img src="../../../assets/icons/bxl-github.svg" alt="github-icon">
                </a>
            </button>
            <button mat-mini-fab color="primary" aria-label="netlify">
                <a href="https://app.netlify.com/teams/gonzalomedina23lj/overview" target="_target" aria-label="netlify">
                    <img src="../../../assets/icons/bxl-netlify.svg" alt="netlify-icon">
                </a>
            </button>
            <button mat-mini-fab color="primary" aria-label="whatsapp">
                <a href="https://wa.me/+541153175673" target="_target" aria-label="whatsapp">
                    <img src="../../../assets/icons/bxl-whatsapp.svg" alt="whatsapp-icon">
                </a>
            </button>
            <button mat-mini-fab color="primary" aria-label="linkedin">
                <a href="https://www.linkedin.com/in/gonzalomedina23lj" target="_target" aria-label="linkedin">
                    <img src="../../../assets/icons/bxl-linkedin.svg" alt="linkedin-icon">
                </a>
            </button>
        </div>
        <div class="footer-logo">
            <img src="../../../assets/logo/logo_in_md.webp" alt="footer-logo">
        </div>
    </div>
</div>
