.switch-lang-box{
    margin: 0 25px 5% 0;
}


select {
    text-align: center;
    position: relative;
    font-weight: bold;
    width: 3.6em;
    border-radius: .80em;
    border-color: var(--warn-color);
    background-color: var(--accent-color);
    border-width: 2.4px;
    cursor: pointer;
    display: inline-block;

}


