.lang{
    margin-right: 50px;
}


select {
    text-align: center;
    position: relative;
    font-weight: bold;
    width: 3.5em;
    border-radius: .25em;
    border-color: var(--warn-color);
    background-color: var(--accent-color);
    border-width: 2px;
    cursor: pointer;
    display: inline-block;

}


