.projects{
    padding: 25px 15px 20px 15px;
    position: sticky;
    z-index: 1000;
}

.custom_mat-card{
    background-color: var(--primary-color);
    color: var(--accent-color);
}

.custom_mat-card:hover{
    transform: scale(1.06);
    transition: all ease .3s;
    z-index: 2000;
}

.custom_mat-card img{
    height: 40vh;
    object-fit: cover;
    cursor: pointer;
    filter: grayscale(80%);
}

.custom_mat-card img:hover{
    filter: grayscale(0%);
    z-index: 1000;
}

.custom_mat-card-subtitle{
    color: var(--warn-color);
}


@media (max-width: 600px) {
    
}