.projects{
    position: sticky;
    z-index: 1000;
    
}

.custom-mat-card{
    position: relative;
    color: var(--accent-color);
    background-color:var(--primary-color);
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23242121' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

.custom-mat-card:hover{
    transform: scale(1.02);
    transition: all ease .3s;
    z-index: 2000;
}

.custom-mat-card-subtitle{
    color: var(--warn-color);
}

.player-button{
    position: absolute;
    z-index: 999;
    top: 40%;
    left: 50%;
    width: 55px;
    height: 55px;
    transform: translate(-50%, -50%);
    background-color: var(--second-color);
    border-color: var(--warn-color);
    box-shadow: 0px 1px 8px var(--warn-color);
    opacity: 1;
    border-radius: 10%;
    cursor:pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.player-button img{
    width: calc(75px + 0.006841vw);
    height: 100%;
    cursor: pointer;
    color: var(--warn-color);
}

.play-button:hover{
    opacity: 1;
    
}


.mat-card-video{
    width: calc(100% + 32px);
    margin: 0 -16px 16px -16px;
    display: block;
    overflow: hidden;
    min-height: 40vh;
    object-fit: cover;
    /* cursor: pointer; */
    filter: grayscale(25%);
    opacity: 0.6;
    
}

/* .mat-card-video:hover{
    filter: grayscale(0%);
    z-index: 1000;
    
} */

.custom-card-content{
    height: 50px;
}

.custom-card-content p{
    text-shadow: 1px 0px 8px #E3E3E3;
}

.work-progress{
    font-size: 14px;
    font-weight: 700;
    color: var(--primary-color);
    /* border-top: 1px solid var(--warn-color); */
    background-image: linear-gradient(to right, var(--warn-color) 0%, #9c594d 100%);
    border-radius: 110px;
    padding: 1px 2% 2px 2%;
}

mat-progress-bar{
    margin-top: 8px;
}

mat-card-actions{
    padding-left: 8px;
}

.custom-mat-button{
    font-size: 0.74em;
    font-weight: 600;
}


@media (max-width: 599px)  {
    .custom_mat-card-content{
        min-width: 80vw;
        height: fit-content;
    
    }
}