<div class="projects container" id="projects">
  <h1>{{ 'projects.title' | translate }}</h1>
  <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="25px grid" fxLayoutAlign="center center">
    <div fxFlex="calc(30% - 35px)" fxFlex.md="50%" fxFlex.sm="85%" fxFlex.xs="calc(60%)" *ngFor="let card of cards; let i = index">
      <mat-card tabindex="0" class="custom-mat-card">
        <mat-card-header>
          <mat-card-title class="mat-title">{{ card.Title }}</mat-card-title>
          <mat-card-subtitle class="custom-mat-card-subtitle mat-subheading-1">{{ card.SubTitle }}</mat-card-subtitle>
        </mat-card-header>
        <video #projectvideo id="projectvideo-{{card.Title}}" src={{card.Video}} type="video/mp4" alt="project-video" class=mat-card-video loop muted="muted" playsinline></video>
        <button class="player-button" #playerbutton type="button">
          <img class="player-icon" id="play-icon" src={{card.playButton}} alt="play-button" *ngIf="card.showPlay && !card.isPlaying" (click)="playVideo(card)">
          <img class="player-icon" id="pause-icon" src={{card.pauseButton}} alt="pause-button" *ngIf="card.showPause && card.isPlaying" (click)="pauseVideo(card)">
        </button>
        <mat-card-content class="custom-card-content mat-caption">
          <p>
            {{ card.Content | translate }}
          </p>
        </mat-card-content>
        <span class="mat-caption work-progress">{{ 'projects.work_progress' | translate }}</span>
        <mat-progress-bar aria-label="Progress" color="warn" mode="determinate" value="{{card.Progress}}"></mat-progress-bar>
        <mat-card-actions>
          <a href="{{card.PageButton}}" target="_blank"><button mat-button class="custom-mat-button">{{ card.ButtonText | translate }}</button></a>
          <a href="{{card.CodeButton}}" target="_blank"><button mat-button class="custom-mat-button">{{ 'projects.movies_list.button_code' | translate }}</button></a>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>

