<div class="card-container">
    <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="8px grid" fxLayoutAlign="center center">
        <div fxFlex="calc(50% - 25px)" fxFlex.xs="100%" *ngFor="let num of [1,2,3,4,5,6]">
            <mat-card class="mat-card-custom">
                <mat-card-header>
                  <mat-card-title>{{num}}</mat-card-title>
                  <mat-card-subtitle>Angular</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="../../../../assets/images/movieslist.jpg" alt="">
                <mat-card-content>
                  <p>
                    If you want to find all your favourites movies just take a look at my movies page...
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>PAGE</button>
                  <button mat-button>CODE</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>

</div>
