<div class="projects container" id="projects">
    <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="10px grid" fxLayoutAlign="center center">
        <div fxFlex="calc(30% - 35px)" fxFlex.sm="50%" fxFlex.xs="100%"  *ngFor="let card of cards">
            <mat-card tabindex="0" class="custom_mat-card">
                <mat-card-header>
                  <mat-card-title>{{ card.Title }}</mat-card-title>
                  <mat-card-subtitle class="custom_mat-card-subtitle">{{ card.SubTitle }}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src={{card.Video}} alt="">
                <mat-card-content>
                    <p>
                      {{ card.Content | translate }}
                    </p>
                </mat-card-content>
                <mat-progress-bar color="warn" mode="determinate" value="{{card.Progress}}"></mat-progress-bar>
                <mat-card-actions>
                  <a href="{{card.PageButton}}" target="_blank"><button mat-button>{{ 'projects.movies_list.button_page' | translate }}</button></a>
                  <a href="{{card.CodeButton}}" target="_blank"><button mat-button>{{ 'projects.movies_list.button_code' | translate }}</button></a>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>
