.card-container{
    background-color: var(--second-color);
    z-index: 1000;
    position: sticky;
    padding: 10px 15px 10px 15px;
    
}

mat-card{
    background-color: var(--primary-color);
    color: var(--accent-color);
}

mat-card img{
    height: 40vh;
    object-fit: cover;
    cursor: pointer;
    filter: grayscale(80%);
    
}

mat-card-subtitle{
    color: var(--warn-color);
}
