
.contact form{
    display: flex;
    flex-direction: column;

}

.contact form label{
    margin: 10px 5px 0 5px;
    font-size: 16px;
    
}

.contact form input{
    height: 20px;
    width: 320px;

}

.custom-button {
    font-size: 18px;
    width: 120px;
    margin-top: 10px;
}

.custom-button:disabled {
    background-color: rgba(75, 73, 73, 0.671);
}

.custom-button:enabled {
    cursor: pointer;
}

input.ng-valid{
    border-left: 8px solid rgba(48, 138, 60, 0.842);
}

.error{
    color:  var(--warn-color);
    font-size: 12px;
}