
.contact form{
    display: flex;
    flex-direction: column;

}

.contact form label{
    margin: 10px 5px 0 5px;
    
}

.contact form input{
    height: 20px;
    width: 320px;

}

/* #message{
    height: 110px;
    width: 80%;

} */

.custom_button {
    font-size: 18px;
    width: 120px;
    margin-top: 10px;
}