<div class="contact">
    <h1>Contact Me</h1>
    <p>I’m interested in freelance opportunities – especially ambitious or large projects. However, if you have other request or question, don’t hesitate to use the form.</p>
    <form action="">
        <label for="Name">Name</label>
        <input type="text" id="Name" name="Name"/>
        <label for="Email">Email</label>
        <input type="text" id="Email" name="Email"/>
        <label for="Subject">Subject</label>
        <input type="text" id="Subject" name="Subject"/>
        <label for="Message">Message</label>
        <input type="text" id="Message" name="Message"/>
        <button>Submit</button>
    </form>
</div>
