<div class="contact" id="contact">
    <p class="mat-caption">{{ 'footer.description' | translate }}</p>
    <form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm.value); contactForm.resetForm()">
        <label for="name">{{ 'footer.form.name' | translate }}</label>
        <input
            type="text" id="name" name="name" #name="ngModel" [(ngModel)]="model.name"
            required
            minlength="3"
            maxlength="30"/>
        <span *ngIf="name.invalid && name.touched" class="error">{{ 'footer.form.error_name' | translate }}</span>

        <label for="email">{{ 'footer.form.email' | translate }}</label>
        <input 
            type="text" id="email" name="email" #email="ngModel" 
            [(ngModel)]="model.email"
            minlength="5"
            pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
            required/>
        <span *ngIf="email.invalid && email.touched" class="error">{{ 'footer.form.error_email' | translate }}</span>
        
        <label for="subject">{{ 'footer.form.subject' | translate }}</label>
        <input 
            type="text" id="subject" name="subject" #subject="ngModel" 
            [(ngModel)]="model.subject"
            minlength="4"
            maxlength="30"
            required/>
        <span *ngIf="subject.invalid && subject.touched" class="error">{{ 'footer.form.error_subject' | translate }}</span>
        
        <label for="message">{{ 'footer.form.message' | translate }}</label>
        <textarea name="" id="message" #message="ngModel" cols="60" rows="10" 
            placeholder="{{ 'footer.form.placeholder_message' | translate }}" 
            name="message" 
            [(ngModel)]="model.message"
            minlength="8"
            required
        ></textarea>
        <span *ngIf="message.invalid && message.touched" class="error">{{ 'footer.form.error_message' | translate }}</span>
        
        <button mat-raised-button disabled color="warn" type="submit" [disabled]="contactForm.invalid" class="custom-button btn btn-success">{{ 'footer.form.submit' | translate }}</button>
    </form>


</div>
