.custom-toolbar{
    height: 50px;
    position: sticky;
    top: 0;
    z-index: 1000;

}

.custom-toolbar

.toolbar-items-icons button{
    margin: 8px 15px 8px 0;

}

.spacer {
    flex: 1 1 auto;
}
