<mat-toolbar class="custom-toolbar" color="primary" ngxHideOnScroll [classNameWhenHidden]="'tool-hidden'">
    
    <button aria-label="menu-button" mat-icon-button class="menu-button" fxHide fxShow.lt-sm *ngIf="showMenu" (click)="showSideMenu()">
        <mat-icon>menu</mat-icon>
    </button>

    <button mat-icon-button aria-label="reply-button" class="reply-button" fxHide fxShow.lt-sm *ngIf="showArrow" (click)="hideSideMenu()">
        <mat-icon>reply</mat-icon>
    </button>

    <div class="sidenav-menu open-close-container" *ngIf="showSide" [@openClose]="showSide">
        <div class="sidenav-items">
            <button routerLink="/home" (click)="goHeader()" mat-button aria-label="header">{{ 'header.toolbar.home' | translate }}</button>
            <button routerLink="/about" (click)="goAbout()" mat-button aria-label="about">{{ 'header.toolbar.about' | translate }}</button>
            <button routerLink="/projects" (click)="goProjects()" mat-button aria-label="projects">{{ 'header.toolbar.projects' | translate }}</button>
            <button routerLink="/contact" (click)="goContact()" mat-button aria-label="contact">{{ 'header.toolbar.contact' | translate }}</button>
        </div>
    </div>

    <div class="toolbar-items-row" fxShow.gt-xs fxHide.lt-sm>
        <button routerLink="/home" (click)="goHeader()" mat-button aria-label="header">{{ 'header.toolbar.home' | translate }}</button>
        <button routerLink="/about" (click)="goAbout()" mat-button aria-label="about">{{ 'header.toolbar.about' | translate }}</button>
        <button routerLink="/projects" (click)="goProjects()" mat-button aria-label="projects">{{ 'header.toolbar.projects' | translate }}</button>
        <button routerLink="/contact" (click)="goContact()" mat-button aria-label="contact">{{ 'header.toolbar.contact' | translate }}</button>
    </div>

    <span class="spacer"></span>

    <app-switch-lang></app-switch-lang>
</mat-toolbar>