.hero_parallax{
    position: relative;
    background-image:url(../../../../assets/images/hero_large.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 110vh;
}

#logo{
    margin-top: -180px;
    width: calc(4.8vw + 120px);
    position: fixed;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

}

/* #angular{
    right: calc(0.1vw + 420px);
    top: calc(1.8vh + 120px);
    filter: blur(2.5px) grayscale(60%);
}

#angular2{
    top: 80;
    left: 0;
    filter: blur(0.5px) grayscale(60%);
} */


@media (max-width: 600px) {
    .hero_parallax{
        background-image:url(../../../../assets/images/hero_small2.jpg);
        height: 110vh;
        background-position: right;
    }

    #logo{
        margin-top: -180px;
        width: calc(4.8vw + 180px);
        top: 50%; 
        left: 50%;
        transform: translate(-50%, -50%);
    
    }
}