.header-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-content::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110vh;
    background: linear-gradient(to bottom, var(--primary-color), transparent);
    z-index: 1;
}

.logo-box{
    width: 100%;
    height: 55vh;
    position: relative;
    overflow: hidden;
}

@keyframes logo-enter{
    0%{top: -25%;}
    100%{top: 75%;}
}

#logo{
    animation: logo-enter 4s ease;
    margin-top: -100px;
    width: calc(26vw + 200px);
    height: auto;
    position: absolute;
    left: 50%;
    top: 75%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

.dyamic-text{
    height: 20vh;
}



@keyframes opacity{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

@keyframes glow {
    from {
      text-shadow: none;
    }
    to {
      text-shadow: 1px 1.2px 1px var(--accent-color);
    }
}
  
@keyframes word-animation {
  0% {
      transform: translateX(-150%);
      opacity: 0;
  }
  100% {
      transform: translateX(0%);
      opacity: 1;
  }
}

.phrase-box{
    height: 25vh;
    width: 100%;
    flex-direction: column;
    overflow: hidden;
    
}

.phrase-box h1{
    font-size: 2.2em;
    font-weight: 500;
    letter-spacing: 1.5px;
    margin-bottom: 0px !important;
    text-shadow: 0px 0px 2px var(--accent-color);
  
}

.first-phrase{
    margin-right: 15% !important;
    
}

.second-phrase{
    line-height: 3em;
    margin-left: 20% !important;
}


.phrase-box span{
    display: inline-block;
    color: var(--warn-color);
    text-shadow: 0px 0px 8px var(--warn-color);
    filter: saturate(1.4);
    animation: word-animation 4s ease-in-out;
}

@keyframes arrow-cicle {
    0%   { transform: rotate(135deg); }
    25%  { transform: rotate(-135deg); }
    50% { transform: rotate(135deg); }
    100% { transform: rotate(45deg); }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-10px);
    }
    60% {
      transform: translateY(-5px);
    }
  }

.arrow-section{
    width: 50px;
    height: 50px;
    margin-top: 1em;
    animation: bounce 1.5s infinite;
    z-index: 999;
}

.arrow-section i{
    color: var(--warn-color);

}




@media (max-width: 992px) {
    #logo{
        width: calc(35vw + 265px);
    }

    .phrase-box h1{
        font-size: 2em;
    }

}

@media (max-width: 768px) {

    .phrase-box h1{
        font-size: 1.6em;
    }

    .first-phrase{
        margin-right: 30% !important;
    }

    .second-phrase{
        margin-left: 15% !important;
    }

    .arrow-section{
        margin-top: 0.8em;

    }

}

@media (max-width: 576px) {

    .phrase-box h1{
        font-size: 1.2em;
    }

    .first-phrase{
        margin-right: 0 !important;
    }

    .second-phrase{
        margin-left: 0 !important;
    }
}