
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!




@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

$my-primary-color: (
    50 : #e5e6e8,
    100 : #bdc1c6,
    200 : #9198a1,
    300 : #656f7b,
    400 : #44505e,
    500 : #233142,
    600 : #1f2c3c,
    700 : #1a2533,
    800 : #151f2b,
    900 : #0c131d,
    A100 : #5e9cff,
    A200 : #2b7dff,
    A400 : #005ff7,
    A700 : #0055de,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
  )
);

$my-accent-color: (
    50 : #fcfcfc,
    100 : #f7f7f7,
    200 : #f1f1f1,
    300 : #ebebeb,
    400 : #e7e7e7,
    500 : #e3e3e3,
    600 : #e0e0e0,
    700 : #dcdcdc,
    800 : #d8d8d8,
    900 : #d0d0d0,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
  )
);

$my-warn-color: (
    50 : #feebeb,
    100 : #fdcdcd,
    200 : #fcacac,
    300 : #fb8b8b,
    400 : #fa7272,
    500 : #f95959,
    600 : #f85151,
    700 : #f74848,
    800 : #f63e3e,
    900 : #f52e2e,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffcfcf,
    A700 : #ffb6b6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
  )
);

$PersonalPage-primary: mat.define-palette($my-primary-color);
$PersonalPage-accent: mat.define-palette($my-accent-color, A200, A100, A400);

// The warn palette is optional (defaults to red).
$PersonalPage-warn: mat.define-palette($my-warn-color);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$PersonalPage-theme: mat.define-dark-theme((
  color: (
    primary: $PersonalPage-primary,
    accent: $PersonalPage-accent,
    warn: $PersonalPage-warn,
  )
));



// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($PersonalPage-theme);

/* You can add global styles to this file, and also import other style files */

$primary-color: #233142;
$accent-color: #e3e3e3;
$warn-color: #f95959;

html, body { height: 100%; }
body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif, 'Edu NSW ACT Foundation', cursive,'Fjalla One', sans-serif,'Lobster', cursive,'Open Sans', sans-serif;
}

/* .container{
  display: flex;
  width: 100%;
} */

:root{
  --primary-color: #233142;
  --accent-color: #e3e3e3;
  --warn-color: #f95959;
  
  span{
    font-family: 'Courier New', Courier, monospace;
    color: $accent-color;
    font-size: 18px;
    text-decoration: none;
    list-style: none;
    font-weight: 600;   
  }
  
  button{
    font-family:'Lobster', cursive;
    font-size: 14px;

  }

}

h1{
  font-family: 'Courier New', Courier, monospace;
  color: $accent-color;
  font-size: 24px;
  font-weight: 400;
}

h2{
  font-family: 'Courier New', Courier, monospace;
  color: $primary-color;
  font-size: 12px;
  font-weight: 400;
  text-align: center;

}